# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Seshan Ravikumar <seshan@sineware.ca>
[Desktop Entry]
Name=KRetro
Name[ca]=KRetro
Name[ca@valencia]=KRetro
Name[es]=KRetro
Name[eu]=KRetro
Name[fi]=KRetro
Name[fr]=KRetro
Name[he]=KRetro
Name[it]=KRetro
Name[ka]=KRetro
Name[lv]=KRetro
Name[nl]=KRetro
Name[pt_BR]=KRetro
Name[sl]=KRetro
Name[sv]=Kretro
Name[tr]=K Retro
Name[uk]=KRetro
Name[x-test]=xxKRetroxx
Name[zh_TW]=KRetro
Comment=Libretro frontend for Plasma
Comment[ca]=Frontal de la Libretro per al Plasma
Comment[ca@valencia]=Frontal de la Libretro per a Plasma
Comment[es]=Interfaz de Libretro para Plasma
Comment[eu]=Plasmarako Libretoren aurrealdekoa
Comment[fi]=Libretro-emulointikäyttöliittymä Plasmaan
Comment[fr]=Interface pour Libretro sous Plasma
Comment[he]=ממשק Libretro לפלזמה
Comment[it]=Interfaccia Libretro per Plasma
Comment[ka]=Libretro-ის წინაბოლო Plasma-სთვის
Comment[lv]=„Libretro“ priekšsistēma „Plasma“ darbvirsmai
Comment[nl]=Libretro-frontend voor Plasma
Comment[pt_BR]=Interface do Libretro para o Plasma
Comment[sl]=Libretro začelje za Plasmo
Comment[sv]=Libretro-gränssnitt för Plasma
Comment[tr]=Plasma için Libretro ön yüzü
Comment[uk]=Оболонка Libretro для Плазми
Comment[x-test]=xxLibretro frontend for Plasmaxx
Comment[zh_TW]=Plasma 用的 Libretro 前端
Version=1.0
Exec=kretro
Icon=org.kde.kretro
Type=Application
Terminal=false
# Add an actual main category here (and possibly applicable additional ones)
#   https://specifications.freedesktop.org/menu-spec/latest/apa.html#main-category-registry
Categories=Game;Qt;KDE;
